Take survey here.
<br>
{{#each model as |question|}}
  {{component question.type question=question setAction="updateResponse"}}
  <br>
{{/each}}

<button {{action "saveSurvey"}}> Save Survey </button>
